<?php

return [
	'laminas-bugsnag' => [
		/**
		 * Enabled
		 * is the LaminasBugsnag Application enabled?
		 * Default: true
		 */
		'enabled' => true,

		/**
		 * ApiKey
		 * The ApiKey you can find on your Bugsnag dashboard
		 */
		'api_key' => 'YOUR-API-KEY-HERE',

		/**
		 * releaseStage
		 * The ReleaseStage that the error occurred in
		 * Default: development
		 */
		'releaseStage' => 'development',

		/**
		 * notifyReleaseStages
		 * Which ReleaseStages should send notifications to Bugsnag?
		 * Default: ['development', 'production']
		 */
		'notifyReleaseStages' => ['development', 'production'],

		/**
		 * appVersion
		 * The version of the application that will be sent to BugSnag,
		 * useful when fixing errors so Bugsnag reports errors if they appear
		 * in a new version of the app.
		 */
		'appVersion' => '1.0.0',

		/**
		 * errorReportingLevel
		 * The PHP error reporting levels to send to Bugsnag, see their reference:
		 * https://docs.bugsnag.com/platforms/php/other/configuration-options/#error-reporting-level
		 * If not specified, defaults to the result of calling PHP's error_reporting function.
		 * Generally recommended to leave this setting the default.
		 */
		 // 'errorReportingLevel' => E_ALL ~ E_NOTICE,
	],
];
